version: "3.7"

services:

  #databases
  login-db:
    container_name: login-db
    image: postgres:14-alpine
    restart: always
    expose:
      - "5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  overworld-db:
    container_name: overworld-db
    image: postgres:14-alpine
    restart: always
    expose:
      - "5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  chickenshock-db:
      container_name: chickenshock-db
      image: postgres:14-alpine
      restart: always
      expose:
        - "5432"
      environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres

  crosswordpuzzle-db:
    container_name: crosswordpuzzle-db
    image: postgres:14-alpine
    restart: always
    expose:
      - "5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  #backends
  login-backend:
    container_name: login-backend
    image: ghcr.io/gamify-it/login-backend:main
    restart: always
    pull_policy: always
    expose:
      - "80"
    environment:
      - JWT_KEY=SecretKEY
      - JWT_VALIDITY_DURATION=720h
      - POSTGRES_URL=postgresql://postgres:postgres@login-db:5432/

  overworld-backend:
    container_name:   overworld-backend
    image: ghcr.io/gamify-it/overworld-backend:main
    restart: always
    pull_policy: always
    expose:
      - "80"
    depends_on:
      - overworld-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_URL=postgresql://overworld-db:5432/postgres

  chickenshock-backend:
    container_name:   chickenshock-backend
    image: ghcr.io/gamify-it/chickenshock-backend:main
    restart: always
    pull_policy: always
    expose:
      - "80"
    depends_on:
      - chickenshock-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_URL=postgresql://chickenshock-db:5432/postgres

  crosswordpuzzle-backend:
    container_name: crosswordpuzzle-backend
    image: ghcr.io/gamify-it/crosswordpuzzle-backend:main
    restart: always
    pull_policy: always
    expose:
      - "80"
    depends_on:
      - crosswordpuzzle-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_URL=postgresql://crosswordpuzzle-db:5432/postgres


  #frontends
  login-frontend:
    container_name: login-frontend
    image: ghcr.io/gamify-it/login-frontend:main
    restart: always
    pull_policy: always
    expose:
      - "80"

  overworld:
    container_name: overworld
    image: ghcr.io/gamify-it/overworld:main
    restart: always
    pull_policy: always
    expose:
      - "80"

  chickenshock:
    container_name: chickenshock
    image: ghcr.io/gamify-it/chickenshock:main
    pull_policy: always
    restart: always
    expose:
      - "80"

  crosswordpuzzle:
    container_name: crosswordpuzzle
    image: ghcr.io/gamify-it/crosswordpuzzle:main
    pull_policy: always
    restart: always
    expose:
      - "80"

  # reverse-proxy
  reverse-proxy:
    container_name: reverse-proxy
    image: nginx
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./.nginx/compose/nginx-dev.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
